/******************************
GENERAL
********************************/

/*Border all*/
/** { border: 1px solid black; }*/
* {
  font-family: "Noto Sans";
}

.logo {
  color: white;
  font-family:"Roboto Slab";
  display: inline;
  margin: auto 200px;
  
}

li {
  list-style: none;
}

img {
  max-width: 50%;

}
/*******************************
BORDER-HEADER 
*******************************/


header h1 {
  margin-top: 0;
  display: inline-block;
  color: #fff;
}

header h2 {
  margin-top: 0;
  display: inline;
  color: #fff;
  margin-left: 10px;
}

#top {
  background-color: #282924;
}



/*******************************
HEAD-NAV
*******************************/

.side-nav {
  display: inline-block;
  border: 5px solid red;
  margin: 0  0 0 200px;
}


/*******************************
HEADER 
*******************************/


header {
  border-bottom: 10px solid #191c27;
  background: #76786a url(../img/protagonist-1816209_640.jpg) no-repeat center bottom;
  background-size: 20%;
}


#head-section  {
display: inline-block;
  border: 5px solid red;
  margin: 
}

/************Main-Sections****************/

/*********************
LECTURES
**********************/

#lectures {
  background-color: #efeffb;
}

#lectures li{
  background-color: white;
/*  float: left;*/
  width: 27.3333%;
  margin: 4% 2% 0.5%;
  padding: 2px 1px;
  border-style: solid ;
  border-radius: 5%;
}

#lectures li img {
  max-height: 70px;
}


/*************************
Location 
*************************/


#location {
  background-color: #e0e0ed;
}



/*************************
Register 
*************************/

#registr {
  background-color: #6a6f62;
}



/************************
INFO 
*************************/
#info {
  background-color: #efeffc;
}

#info ul li  {
/*  float: left;*/
  background-color: lightblue;
  width: 15%;
  margin: 2% 2%;
  padding: 0.2% 0.1%;
  
}

#info img {
  max-width: 100%;
  background-color: white;
}


/************************
BORDER-FOOTER
*************************/

#border-footer {
  background-color: #202e29;
}

/************************
MAIN-FOOTER
*************************/

#main-footer, 
#bottem-footer {
  background-color: #21211d;
}

/************************
BOTTEM-FOOTER
*************************/
